@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @apply overflow-x-hidden;
  background: #000;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  background: #310686;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #000 0%, #310686 100%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #42bfd0 0%, #310686 100%);
}

section,
nav {
  @apply px-60 py-20;
}

section {
  background-color: #fff;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif !important;
}

.poppins {
  font-family: "Poppins", sans-serif !important;
}

@media screen and (max-width: 960px) {
  section,
  nav {
    @apply px-10;
  }
}

/* @media screen and (max-width: 960px) {
  section,
  nav {
    @apply px-10;
  }
} */

nav ul li:hover,
nav ul li.active,
nav a:hover {
  @apply gradient-text;
}

a {
  text-decoration: none;
  @apply text-white;
}

.linear-gradient {
  background: linear-gradient(90deg, #ffc107 0%, #ff9800 100%);
  color: #000;
  cursor: pointer;
  transition: all 1s ease;
}

.gradient-text {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.linear-gradient:hover {
  background: linear-gradient(90deg, #42bfd0 0%, #310686 100%);
  /* background: linear-gradient(90deg, #310686 0%, #42bfd0 100%); */
  color: #fff;
  transition: all 1s ease;
}

.btn {
  @apply rounded-full;
}

.bg-linear-gradient {
  background: linear-gradient(90deg, #000 0%, #310686 100%);
  /* background: linear-gradient(
    90deg,
    #ffffff01 0%,
    #ffffff44 60%,
    #42bfd0dd 100%
  ); */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: all 1s ease;
}

.bg-linear-gradient-mobile {
  background: linear-gradient(180deg, #000 10%, #310686 100%);
  /* background: linear-gradient(
    90deg,
    #ffffff01 0%,
    #ffffff44 60%,
    #42bfd0dd 100%
  ); */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: all 1s ease;
}

.navbar-linear-gradient {
  /* background: linear-gradient(0deg, transparent, #000 50%, #000 100%); */
  /* background: linear-gradient(180deg, #000 10%, #310686 100%); */

  /* background-color: #000; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: all 1s ease;
}

.navbar-linear-gradient-2 {
  /* background: linear-gradient(0deg, transparent, #000 50%, #000 100%); */
  background-image: linear-gradient(45deg, #f3ec78, #af4261);

  /* background-color: #000; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: all 1s ease;
}

.flipping-image {
  filter: drop-shadow(0 0 0.75rem #42bfd0dd);
  /* filter: drop-shadow(0 0 0.75rem #000); */
}
